#container
  #sidebar
    %h1 
      %a{ :href => "/"} Hearts
    = partial "nav"
    = partial "filters"
  #main
    = partial "stream"
    = partial "stream"
    = partial "stream"
    = partial "stream"
= partial "footer"
