#keyboard
  J - next 
  %br
  K - prev
  %br
  L - like 
  %br
  H - hide 
  %br
  &#8629; - expand 
#container
  #sidebar_wrap
    #sidebar.stream
      %h1 
        %a{ :href => "/"} Hearts
      = partial "nav"
      = partial "filters"
  #main
    #mobile_header 
      %h1
        %a{ :href => "/"} Hearts
      %a.sidebar_toggle toggle
    #stream
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
= partial "footer"
