#container
  #sidebar
    %h1 
      %a{ :href => "/"} Hearts
    = partial "nav"
    = partial "filters"
  #main
    #stream
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
      = partial "user_profile"
= partial "footer"
